/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* Переменные светлой темы */
  --main-font: "IBM Plex Mono";
  --text-color: #353430;
  --title-decor-text: #353430;
  --content__title-color: #353430;
  --button-color: #353430;
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --outline-hover: #32312d66;
  --rec-icon-visibility: hidden;
  --bold: 700;
  --thin: 400;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: "IBM Plex Mono";
  --text-color: #353430;
  --title-decor-text: #353430;
  --content__title-color: #353430;
  --button-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --outline-hover: #32312d66;
  --rec-icon-visibility: hidden;
  --bold: 700;
  --thin: 400;
}

@media (width >=1024px) {
  .page.theme_light {
    --title-shadow: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex Mono";
    --text-color: #353430;
    --title-decor-text: #353430;
    --content__title-color: #353430;
    --button-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --outline-hover: #32312d66;
    --rec-icon-visibility: hidden;
    --bold: 700;
    --thin: 400;
  }
}

@media (prefers-color-scheme: light) and (width >=1024px) {
  :root {
    --title-shadow: #ff0070;
  }
}
